/.bundle
/db/*.sqlite3
/db/*.sqlite3-*
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep
/public/assets
/config/master.key
.env
.DS_Store
.idea
node_modules
vendor
tmp